In [70]:
import numpy as np
import pandas as pd
import zipfile



# process by pandas
df = pd.read_csv('contributionData.zip',index_col=False)
df.head(5)

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
0,C00508416,P00006213,"Delaney, John K.","VISSCHER, PIETER",NORTHPORT,AL,354731625,NOT EMPLOYED,NOT EMPLOYED,100.0,07-AUG-19,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1358358,612168,P2020
1,C00508416,P00006213,"Delaney, John K.","JACKLIN, CHARLES",HUNTSVILLE,AL,358061203,NOT EMPLOYED,NOT EMPLOYED,500.0,28-JUN-19,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1348447,606419,P2020
2,C00508416,P00006213,"Delaney, John K.","GREEN, KEVIN",POINT CLEAR,AL,365641669,SELF,ATTORNEY,250.0,23-OCT-19,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1376904,617273,P2020
3,C00508416,P00006213,"Delaney, John K.","VISSCHER, PIETER",NORTHPORT,AL,354731625,NOT EMPLOYED,NOT EMPLOYED,100.0,04-DEC-19,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1376904,618977,P2020
4,C00508416,P00006213,"Delaney, John K.","VISSCHER, PIETER",NORTHPORT,AL,354731625,NOT EMPLOYED,NOT EMPLOYED,50.0,16-NOV-19,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1376904,618316,P2020

In [71]:
candidatels=[]
contributionSt=[]
contributionAmt=[]
datels=[]

In [72]:
df.drop('cmte_id', axis=1)

,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num,tran_id,election_tp
0,P00006213,"Delaney, John K.","VISSCHER, PIETER",NORTHPORT,AL,354731625,NOT EMPLOYED,NOT EMPLOYED,100.0,07-AUG-19,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1358358,612168,P2020
1,P00006213,"Delaney, John K.","JACKLIN, CHARLES",HUNTSVILLE,AL,358061203,NOT EMPLOYED,NOT EMPLOYED,500.0,28-JUN-19,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1348447,606419,P2020
2,P00006213,"Delaney, John K.","GREEN, KEVIN",POINT CLEAR,AL,365641669,SELF,ATTORNEY,250.0,23-OCT-19,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1376904,617273,P2020
3,P00006213,"Delaney, John K.","VISSCHER, PIETER",NORTHPORT,AL,354731625,NOT EMPLOYED,NOT EMPLOYED,100.0,04-DEC-19,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1376904,618977,P2020
4,P00006213,"Delaney, John K.","VISSCHER, PIETER",NORTHPORT,AL,354731625,NOT EMPLOYED,NOT EMPLOYED,50.0,16-NOV-19,NaN,NaN,* EARMARKED CONTRIBUTION: SEE BELOW,SA17A,1376904,618316,P2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2844808,P00014407,"Patrick, Deval","KARCH, PAUL",MADISON,WI,537112145,INDEPENDENT PHARMACY COOPERATIVE,LAWYER,250.0,18-NOV-19,NaN,NaN,EARMARKED THROUGH ACTBLUE CONDUIT COMMITTEE 11...,SA17A,1378963,17A-000003105,P2020
2844809,P00014407,"Patrick, Deval","CAULEY, MICHAEL",DEERFIELD,WI,53531,NaN,NOT EMPLOYED,100.0,30-NOV-19,NaN,NaN,EARMARKED THROUGH ACTBLUE CONDUIT COMMITTEE 11...,SA17A,1378963,17A-000004651,P2020
2844810,P00014407,"Patrick, Deval","HORNE, FELICIA",BERKELEY SPRINGS,WV,25411,NaN,NOT EMPLOYED,25.0,17-DEC-19,NaN,NaN,EARMARKED THROUGH ACTBLUE CONDUIT COMMITTEE 12...,SA17A,1378963,17A-000005500,P2020
2844811,P00014407,"Patrick, Deval","HORNE, FELICIA",BERKELEY SPRINGS,WV,25411,NaN,NOT EMPLOYED,25.0,26-DEC-19,NaN,NaN,EARMARKED THROUGH ACTBLUE CONDUIT COMMITTEE 12...,SA17A,1378963,17A-000005895,P2020
2844812,P00014407,"Patrick, Deval","HORNE, FELICIA",BERKELEY SPRINGS,WV,25411,NaN,NOT EMPLOYED,25.0,28-DEC-19,NaN,NaN,EARMARKED THROUGH ACTBLUE CONDUIT COMMITTEE 12...,SA17A,1378963,17A-000006042,P2020

In [75]:
df=df.dropna(axis=1, how='any')

In [76]:
df=df.drop('cmte_id', axis=1)

In [77]:
df.head(10)

,cand_id,cand_nm,contbr_nm,contbr_st,contb_receipt_amt,contb_receipt_dt,form_tp,file_num,tran_id
0,P00006213,"Delaney, John K.","VISSCHER, PIETER",AL,100.0,07-AUG-19,SA17A,1358358,612168
1,P00006213,"Delaney, John K.","JACKLIN, CHARLES",AL,500.0,28-JUN-19,SA17A,1348447,606419
2,P00006213,"Delaney, John K.","GREEN, KEVIN",AL,250.0,23-OCT-19,SA17A,1376904,617273
3,P00006213,"Delaney, John K.","VISSCHER, PIETER",AL,100.0,04-DEC-19,SA17A,1376904,618977
4,P00006213,"Delaney, John K.","VISSCHER, PIETER",AL,50.0,16-NOV-19,SA17A,1376904,618316
5,P00006213,"Delaney, John K.","VISSCHER, PIETER",AL,50.0,18-SEP-19,SA17A,1358358,615549
6,P00006213,"Delaney, John K.","STACEY, WILLIAM",AP,500.0,04-JUN-18,SA17A,1347771,593757
7,P00006213,"Delaney, John K.","PRITT, DREW",AR,203.0,15-DEC-19,SA17A,1376904,619208
8,P00006213,"Delaney, John K.","DIRUSSO, ANTHONY",AZ,10.0,12-SEP-19,SA17A,1358358,615280
9,P00006213,"Delaney, John K.","SPIEGEL, RICHARD",AZ,35.0,23-OCT-19,SA17A,1376904,617276

In [85]:
df=df.sort_values(['contb_receipt_dt','tran_id'])

In [86]:
df.head(5)

,cand_id,cand_nm,contbr_nm,contbr_st,contb_receipt_amt,contb_receipt_dt,form_tp,file_num,tran_id
51603,P00006486,"Yang, Andrew","RADER, JARED",CA,25.0,01-APR-18,SA17A,1364758,794376
982937,P00009795,"Booker, Cory A.","BERGSTROM, KRISTI",MN,25.0,01-APR-18,SA18,1350453,1014556
995473,P00009795,"Booker, Cory A.","BRAJER, LAUREN",NJ,20.0,01-APR-18,SA18,1350453,1014560
980996,P00009795,"Booker, Cory A.","BRENNER, CANDACE",MD,50.0,01-APR-18,SA18,1350453,1014562
995301,P00009795,"Booker, Cory A.","BRODEY, CAROL",NJ,10.0,01-APR-18,SA18,1350453,1014563

In [88]:
df=df.drop('contbr_nm',axis=1)

In [89]:
df.head(5)

,cand_id,cand_nm,contbr_st,contb_receipt_amt,contb_receipt_dt,form_tp,file_num,tran_id
51603,P00006486,"Yang, Andrew",CA,25.0,01-APR-18,SA17A,1364758,794376
982937,P00009795,"Booker, Cory A.",MN,25.0,01-APR-18,SA18,1350453,1014556
995473,P00009795,"Booker, Cory A.",NJ,20.0,01-APR-18,SA18,1350453,1014560
980996,P00009795,"Booker, Cory A.",MD,50.0,01-APR-18,SA18,1350453,1014562
995301,P00009795,"Booker, Cory A.",NJ,10.0,01-APR-18,SA18,1350453,1014563